body {
    background-color: rgb(240, 240, 240);
}

#title {
    background-color: black;
    margin-bottom: 40px;
}

.contents {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
}


.navbar-brand {
    font-size: 2.5rem;
}

h3 {
    font-size: 1em;
    padding-bottom: 0;;
}

h5 {
    font-size: 1em;
    padding-bottom: 0;
}

.card-body {
    border: 2px solid;
}

.card-header {
    border: 2px solid;
   
}

.card {
    border: 2px solid;
}

@media (max-width: 985px) {

    .navbar-brand {
        font-size: 4rem;
    }

    .contents {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    }

   .card {
       height: 30rem;
   }

   .btn {
       height: 5.5em;
   }

   h5{
       font-size: 2.5em;
   }
   h3 {
       font-size: 2.5em;
   }

   .dropdown-menu {
    font-size: 2.5rem;
}

}

.card {
    margin: 20px;
}

.timezone {
    padding-top: 50px;
}


.footer {
    padding: 20px;
}


.dropdown-menu {
    width: 100%;
    text-align: center;
    border: 1px solid;
}






  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  .btn-dark:hover {
        background-color: white;
        color: black;
  }



/* ///////////////////////////////////////////// */

.tabBlock
{
    background-color: black;
    /* border:solid 0px #FFA54F; */
    /* border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; */
    max-width:200px;
    width:100%;
    overflow:hidden;
    display:block;
}
.clock
{
    vertical-align:middle;
    font-family:Orbitron;
    font-size:40px;
    font-weight:normal;
    color:#FFF;
    padding:0 10px;
}
.clocklg 
{
    vertical-align:middle; 
    font-family:Orbitron;
    font-size:20px;
    font-weight:normal;
    color:#FFFFFF;
}