
.container{
    position:relative;
    width:90vw;
    height: 100vh;
    vertical-align: middle;
  }
  
  .element{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 50vw;
    height: fit-content;
  }
  
  body{
    height: 100vh;
    display:flex;
  }

