.container {
    width: 85%;
    margin: 30px auto;
}

.navbar { 
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 30px;
}

.table td {
    padding: 5%;
}

.dark-mode {
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Didact Gothic', sans-serif;
}

.links {
    color: black;
    text-decoration: none !important;
}

.btn-light {
    border-radius: 20px;
}